.container-clients{
    margin:0 auto;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.grid{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-auto-flow: column;
    margin: 0;
    width: 67%;
    list-style: none;
}
.grid > .item{
    display:flex;
    width:200px;
    height: 200px;
    justify-content: center;
    align-items: center;
    border:1px solid #a1a1a1;
    padding: 1rem;
    margin:5px;
    border-radius:5px;
    cursor:pointer;
}

.grid > .item > img{
    max-width:100%;
}

.grid > .item:hover{
    box-shadow: #a1a1a1 0px 0px 5px;
}


.container-modal{
    width:80%;
    height:75vh;
    float:left;
}
.modal-detail{
    position:fixed;
    top:0;
    left:0;
    width:100vw;
    height:100vh;
    background-color:#F3F3F3;

}
.modal-detail > .modal-container{
    margin:0 auto;
    width:90%;
    height: 100%;

    padding:15px;
}
.modal-detail > .modal-container > .close-container{
    float:left;
    width:100%;
}
.modal-detail > .modal-container > .close-container > .close{
    float:right;
    color:#FFF;
    text-shadow: #000000 0px 0px 2px;
    text-decoration:none;
    font-weight: 900;
    font-size:30px;
}

.modal-detail > .modal-container > .modal-content{
    clear: both;
    width: 100%;
    height: 75%;
}
.imagesCarrousel{
    max-height:100%;
}
.carousel .slide img{
    max-width:61% !important;
}


@media only screen and (max-width: 731px) {
    .grid{
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        padding:0;
        width:80%;
        margin: 0 auto;
    }
    .container-clients > .grid > .item{
        width:100px;
        height: 100px;
    }
}
